@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css");

.modal-content button {
	position: relative;
	right: 0;
}
.modal-header,
.modal-footer {
	border: none;
}
.modal-body img {
	display: block;
	height: 2em;
	width: auto;
	margin-left: auto;
	margin-right: auto;
}
.modal-body form {
	padding: 1rem;
	display: flex;
	flex-direction: column;
}
.modal-body form div {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.modal-body form div input {
	width: 48%;
}
.modal-body form input {
	height: 2.4rem;
	margin: 0.5rem 0.5rem;
	padding: 0 1rem;
	background: #ffffff;
	box-shadow: 9px 9px 20px #e3e5e8, -9px -9px 20px #ffffff;
	border: none;
	border-radius: 1.2rem;
	outline: none;
}
.modal-footer {
	justify-content: center;
	padding-top: 0;
	margin-bottom: 2rem;
}
.modal-footer button {
	height: 2rem;
	width: calc(100% - 4rem);
	background-color: #147cdd;
	color: #fff;
	border-radius: 1rem;
	border: none;
}
.modal-footer p {
	font-size: 0.8rem;
}
body {
	margin: 0;
	padding: 0 5rem;
	background-color: #cce7e9 !important;
}
nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 30px 0;
	font-weight: 300;
	font-size: 1.2rem;
	color: #737373;
	background-color: #cce7e9;
	text-transform: capitalize !important;
}

.logo-div {
	flex: 2;
}
.nav-lists {
	display: flex;
	flex: 4;
	justify-content: center;
	align-items: center;
}
.nav-user {
	flex: 6;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	font-size: 1rem;
}
.nav-user > div {
	margin-left: 0.5rem;
	font-size: 0.9rem;
}
.icon-div i {
	font-size: 1.5rem;
	color: #4d85b4;
}
.user {
	font-weight: 400;
	cursor: pointer;
	transition: 300ms;
}
.user span {
	font-size: 0.9rem;
}

.user:hover {
	color: #474747;
}
main {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.content {
	width: 80%;
}
img {
	margin-right: -5rem;
	width: 20%;
}

.credit-div {
	justify-content: center;
	background-color: #4d85b4;
	padding: 0 0.6rem;
	color: #fff;
	border-radius: 24px;
	font-weight: 400;
}
.credit-div span:first-child {
	margin-right: 0.15rem;
}

.nav-lists ul {
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: space-between;
	list-style: none;
	margin: 0 !important;
	padding: 0 !important;
}

li {
	text-transform: capitalize;
}
.nav-list a {
	color: #2f2f2fa9;
	text-decoration: none;
	transition: 300ms;
}
.nav-list a:hover {
	color: #2f2f2f;
}
a.active {
	text-decoration: underline !important;
}
.logo-div img {
	height: 40px;
	width: auto;
}
.estimation-flex-col {
	margin: 2rem 0;
	display: flex;
	flex-direction: column;
	align-items: start;
	text-transform: capitalize !important;
}
.estimation-flex-col h4 {
	color: #2e2e2ed5;
	font-size: 1.2rem;
	margin-bottom: 1rem;
}
.flex-row {
	padding: 1.4rem;
	border-radius: 2rem;
	border: dashed #555555 2px;
	width: 100%;
	background-color: #cce7e9;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.estimation {
	justify-content: space-evenly;
	height: 300px;
	font-weight: 500;
}
.estimation-items {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.warning-low-credit {
	margin: -1.4rem;
	width: calc(100% + 2.8rem);
	height: calc(100% + 2.8rem);
	display: flex;
	flex-direction: column;
	border-radius: 2rem;
	align-items: center;
	justify-content: center;
	background-color: #fcd1c3;
	color: #585858;
}
.warning-low-credit button {
	background-color: #e1582a;
	color: #d7d7d7;
	height: 65px;
	width: 230px;
	border-radius: 65px;
	border: none;
	font-size: 1.4rem;
	transition: 300ms;
}
.warning-low-credit button:hover {
	background-color: #eb4f1c;
	color: #fff;
}
.hidden {
	display: none;
}
.estimation-item {
	min-width: 20%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0.6rem;
}
.estimated-item {
	padding: 0.6rem;
	min-width: 24%;
	background-color: #91c0c3;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-radius: 56px;
}
.estimated-type {
	font-weight: 700;
}
