@media only screen and (min-width: 992px) and (max-width: 1200px) and (orientation: landscape) {
	#second-nav {
		padding: 1.5rem 6rem !important;
		.nav-lists {
			border: none !important;
		}
	}
	header {
		img {
			width: 80%;
			margin: 0 auto -45vh auto;
		}
		#title-div {
			margin-bottom: 120px;
		}
		#glimpse-div {
			width: 75%;
			margin: 0 auto;
		}
	}
	#working-process {
		.working-process-span {
			width: 130px !important;
			height: 130px !important;
			background-color: #f2f4f7 !important;
		}
	}
	#number-of-simulation-div {
		height: 500px;
		margin-top: -100px;
		padding-top: 170px;
	}
	#pricing-plans-div {
		flex-direction: row !important;
		.pricing-plan {
			width: 31% !important;
		}
	}
	#slider {
		width: 90%;
		margin: 3rem auto;
	}
	#styled-hr-div {
		margin-bottom: 100px;
		padding: 0 10%;
		background-color: #f2f4f7;
		div {
			background-color: #0072bc;
			height: 2px;
			padding: 0 15%;
		}
	}
	#contact-us-div {
		width: 90%;
		margin: 3rem auto;
		flex-direction: row;
		#contact-us-information {
			flex: 4;
			flex-wrap: wrap;
			order: 1;
		}
		#contact-us-links {
			flex: 3;
			order: 2;
		}
		#contact-us-forms {
			margin: 0;
			flex: 5;
			order: 3;
		}
		h3 {
			margin-top: 0 !important;
			text-align: initial !important;
			border: none !important;
		}
	}
}
