@media only screen and (orientation: portrait) and (min-width: 768px) and (max-width: 992px) {
	header {
		img {
			width: 90%;
			// margin-bottom: -40vh;
		}
		#title-div {
			h1 {
				// font-size: 2rem;
			}
		}
		#glimpse-div {
			width: 90%;
			margin: 0 auto;
		}
	}
	main {
		#working-process-main-div {
			width: 100%;
			padding: 0 2rem;
			.wps-div {
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: start;
				flex-wrap: wrap;
				// margin: 0 0.5rem !important;
			}
			.working-process-span {
				width: 110px !important;
				height: 110px !important;
				margin-bottom: 1rem;
			}
			#result-icon {
				width: 110px !important;
				height: 110px !important;
				background-color: #f2f4f7 !important;
			}
		}
		#pricing-plans-div {
			flex-direction: row !important;
			justify-content: center !important;
			flex-wrap: wrap;
			.pricing-plan {
				width: 40% !important;
				margin-left: 1rem !important;
				margin-right: 1rem !important;
			}
		}
		#styled-hr-div {
			padding: 0 10%;
			background-color: #f2f4f7;
			div {
				background-color: #0072bc;
				height: 2px;
				padding: 0 15%;
			}
		}
		#contact-us-div {
			width: 80%;
			margin: 0 auto;
			margin-top: 2rem;
			flex-direction: row;
			flex-wrap: wrap;
			> div {
				h3 {
					text-align: initial;
					border: none;
				}
			}
			#contact-us-information {
				flex: 6;
			}
			#contact-us-links {
				flex: 6;
			}
		}
	}
}
